.login-block{
    float:left;
    width:100%;
    
    padding : 30px;
    margin-top:30px;
    

    height: 100%;
}

.container{background:powderblue; border-radius: 10px; width: 35%; height: 50%;  padding-bottom: 30px;}
.login-sec{padding: 50px ; position:relative;}
.login-sec h2{margin-bottom:40px;margin-top:40px; font-weight:800; font-size:30px; color: #0069c0;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#6ec6ff; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #0069c0;margin-top:30px; color:#fff; font-weight:600;}